@import '../components/message-styles.css';
@import '../components/msg-list-styles.css';
@import '../components/pagination-styles.css';
#controls {
    display: flex;
    flex-flow: column;
}

#controls>* {
    margin: 0.8em;
}

#get-clear-controls {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

#get-clear-controls>* {
    margin: 0.8em;
}

#get-controls {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#get-controls>* {
    margin: 0.4em;
}